.splash-container {
	margin-left: 0px;
	margin-right: 0px;
}

html {
	scroll-behavior: smooth;
}
  
.splash {
	background: url("./background.jpg");
	/* background-repeat: no-repeat;
	/* background-position: center center; */ 
	/* padding:0; 
	margin: -50;  */
	height: calc(80vh + 80px);
	background-size: cover;
	background-position-x: 30%;
	background-position-y: 40%;
	background-position: top;
	/* margin-top: 10vh; */
	/* background-color: red; */
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -104px;
	margin-left: -48px;
	margin-right: -48px;
}

.title {
	position: relative;
	text-align: left;
	margin-top: 10vw;
	margin-left: 8vw;
	font-size: calc(24px + 2vw);
	/* font-size: 4vw; */
	font-weight: 800;
	color: white;
}

.intro {
	position: relative;
	text-align: left;
	margin-top: 2vh;
	margin-left: 8vw;
	font-size: calc(12px + .5vw);
	/* font-size: 1.5vw; */
	/* font-weight: 800; */
	color: white;
	width: 50%;
}

.splash-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* align-items: center; */
	/* margin: 64px auto 0; */
	/* width: 90%; */
	/* max-width: 1200px; */
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    /* border: none; */
    cursor: pointer;
    /* overflow: hidden; */
    /* outline: none; */
	border:  1.5px solid white;
	height: calc(40 + 1.5vw);
	width: calc(100px + 1.5vw);
	text-align: center;
  	padding: 5px 5px;
  	display: inline-block;
  	font-size: calc(12px + .5vw);
	margin-left: 8vw;
	margin-top: 4vw;
	color: white;
	border-radius: 4px;
	text-decoration: none;
}

.button:hover {
    /* background-opacity: 0.1; */
    background-color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	color: white;
}

.left-img {
	float: left; 
	/* margin-right: 50px; */
	height: 40%;
	width: 40%;
	max-height: 300px;
	max-width: 500px;
	margin-left: calc(50px + 4vw);
}

.right-img {
	float: right; 
	/* margin-right: 50px; */
	height: 40%;
	width: 40%;
	max-height: 300px;
	max-width: 500px;
	margin-right: calc(50px + 4vw);
}

.model-txt {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
	/* margin-left: 30px; */
	/* display: inline-block; */
}

.subtitle {
	text-align: left;
	/* margin-left: 30px; */
	border-bottom: solid 2.5px rgb(100, 168, 184);
	/* border-bottom-width: 30px */
	/* display: inline-block; */
	/* margin: 0 0 2em 2em; */
	padding: 0 0.75em 0.25em 0;
	color: gray;
	font-weight: bold;
}

.model {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: solid 2px lightgray;
	overflow: auto;
	margin-left: auto;
  	margin-right: auto;
}

.right-content {
	display: inline-block;
	margin-left: 80px;
	/* margin-bottom: 30px; */
}

.left-content {
	display: inline-block;
	/* margin-left: 80px; */
	/* margin-bottom: 30px; */
	margin-left: calc(80px + 6vw);
}

.model-button {
    background-color: transparent;
    background-repeat: no-repeat;
    /* border: none; */
    cursor: pointer;
    /* overflow: hidden; */
    /* outline: none; */
	border:  1.5px solid gray;
	height: calc(40 + 1.5vw);
	width: calc(100px + 1.5vw);
	text-align: center;
  	padding: 5px 5px;
  	/* display: inline-block; */
  	font-size: calc(10px + .5vw);
	/* margin-left: 8vw; */
	margin-top: 300px;
	color: gray;
	border-radius: 4px;
	text-decoration: none;
}

.model-button:hover {
    /* background-opacity: 0.1; */
    /* background-color: rgba(255, 255, 255, 0.2); */
	text-decoration: none;
	color: rgb(100, 168, 184);
	border: 1.5px solid rgb(100, 168, 184);
}

.search {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: solid 2px lightgray;
	overflow: auto;
	margin-left: auto;
  	margin-right: auto;
	padding: auto;
}

.search-subtitle {
	text-align: center;
	/* margin-left: 30px; */
	/* border-bottom: solid 2.5px rgb(100, 168, 184); */
	/* border-bottom-width: 30px */
	/* display: inline-block; */
	/* margin: 0 0 2em 2em; */
	/* padding: 0.1em 0.1em 0.1em 0.1em; */
	color: gray;
	font-weight: bold;
}

.search-subtitle::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 20%; 
    padding-top: 10px; 
	margin-bottom: 20px; 
    border-bottom: 2.5px solid rgb(100, 168, 184); /* This creates the border. Replace black with whatever color you want. */
}

/* .search-txt {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px
} */
/* .container {
	position: relative;
	/* text-align: center;
	color: white; 
} */