@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

* {
  font-family: 'Raleway';
}

/* h2 {
  font-family: 'Raleway';
  color: rgb(100, 168, 184);
  font-weight: bold;
  text-align: center;
} */

p {
  font-family: 'Raleway';
  color: gray;
  text-align: center;
} 

.font-grey {
  font-family: 'Raleway';
  color: gray;
}

.font-blue {
  font-family: 'Raleway';
  color: rgb(100, 168, 184);
}