Form {
    margin-left: calc(80px + 4vw);
    margin-right: calc(80px + 4vw);
    margin-top: calc(8px + 2vw);
    font-family: 'Raleway';
}

.search-tab {
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: small;
  }