.about-us {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio-card {
    transition: box-shadow 0.3s;
    border-radius: 10px;
    width: 23rem;
    height: 39rem;
    text-align: center;
    margin: 10px;
}

.bio-card-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  object-fit: contain;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px!important;
}

/* .nav-bar {
  font-family: 'Raleway';
  cursor: pointer;
} */

.info-card {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  width: 23rem;
  height: 23rem;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  /* box-shadow: 0 13px 27px -5px rgba(106, 106, 160, 0.25), 0 8px 16px -8px hsla(0, 0%, 66%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 65%, 0.03); */
  transition: all ease 200ms;
}

.info-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.info-card-img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px!important;
}

.stats-card {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  width: 5rem;
  height: 8rem;
  text-align: center;
  margin: 20px;
}

.stats-card-img {
  height: 50%;
  /* max-height: 100px; */
  width: 50%;
  /* max-width: 100px; */
  object-fit: contain;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px!important;
}