.model-style {
    /* background: #f2fbfd; */
    margin: -120px -48px;
}

.model-content {
    width: 80%;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 60px;
}

.model-title {
    font-weight: bold !important;
    color: rgb(100, 168, 184);
    text-align: center;
}

.model-intro {
    color: gray;
    text-align: center !important;
    padding-bottom: 25px;
    border-bottom: solid 2px rgb(100, 168, 184);
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    padding-left: 100px;
    padding-right: 100px;
    /* padding: 0 auto; */
}

.page-nav {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-between; */
    float: right;
    margin-top: 25px;
    margin-right: 0px;
    /* display: block; */

    /* @media (max-width: 500px) {
        flex-direction: column;
    } */
}

.model-table {
    background-color: white;
}

.model-grid {
    /* margin-top: 50px; */
    width: 100%;
    /* display: block; */
}

.search-style {
    background: #f2fbfd;
    margin: -120px -120px;
    padding-bottom: calc(37vh + 6.5px);
}

.search-content {
    width: 80%;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}

.search-title {
    /* font-weight: bold !important; */
    color: gray;
    text-align: center;
}

.search-title::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 10%; 
    padding-top: 10px; 
	margin-bottom: 20px; 
    border-bottom: 2px solid rgb(100, 168, 184); /* This creates the border. Replace black with whatever color you want. */
}

.search-intro {
    text-align: center;
    /* padding-bottom: 25px; */
    margin-bottom: 25px;
}

.instance-title {
    font-weight: bold !important;
    color: rgb(100, 168, 184);
    text-align: center;
}

.instance-title::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 20%; 
    padding-top: 10px; 
	margin-bottom: 20px; 
    border-bottom: 2.5px solid rgb(100, 168, 184); /* This creates the border. Replace black with whatever color you want. */
}

.instance-row {
    display: flex !important;
    justify-content: center !important;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.instance-image {
    /* float: left; */
    /* margin-top: 25px; */
    margin-right: 50px;
    height: 100%;
	width: 100%;
	max-height: 400px;
	max-width: 400px;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.instance-card {
    width: 400px;
    /* height: 20rem; */
    text-align: center;
    padding: 25px;
    margin-left: 50px;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.instance-card-title {
    color: rgb(100, 168, 184);
}

.instance-card-title::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 20%; 
    padding-top: 5px; 
    margin-bottom: 10px; 
    border-bottom: 2px solid rgb(100, 168, 184); /* This creates the border. Replace black with whatever color you want. */
}

.instance-chart {
    /* height: 500px; */
	width: 500px;
    margin-right: 25px;
}

.instance-list {
    text-align: center;
    margin-left: 25px;
}

.list-title {
    color: rgb(100, 168, 184);
    font-size: larger;
}

.list-title::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 10%; 
    padding-top: 5px; 
	margin-bottom: 20px; 
    border-bottom: 2px solid rgb(100, 168, 184); /* This creates the border. Replace black with whatever color you want. */
}

.instance-review-row {
    margin: 25px 25px !important;
}

.instance-col {
    border-right: 1px solid gray;
}

.instance-review-card {
    /* display: flex; */
    /* justify-content: center; */
    width: 50rem;
    margin: auto;
    margin-top: 50px;
    /* height: 25rem; */
}

.instance-review-title {
    color: rgb(100, 168, 184);
    text-align: center;
}

.brand-card {
    transition: box-shadow 0.3s;
    width: 16rem;
    height: 18rem;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    transition: all ease 200ms;
}

.brand-card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.brand-card-img {
    height: 50px;
    /* max-height: 50px;
    width: auto; */
    max-width: 80%; 
    object-fit: contain;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px!important;
}